body {
  font-family: "Secular One", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 20px;
  border: #68e1fd;
  background: #aee4f0;
  max-height: 600px;
}
.city {
  text-align: center;
}
.overview {
  padding-bottom: 20px;
}
.personal-info {
  text-align: center;
  font-size: 12px;
}
.temperature-description {
  padding: 20px;
}
.degrees {
  font-size: 16px;
  position: relative;
  top: -14px;
}
.current-icon {
  height: 120px;
  width: 120px;
  position: relative;
  top: 0;
  left: 53px;
}
.description {
  position: relative;
  top: 0px;
  left: 85px;
}
a:link {
  color: #ec6e4c;
  text-decoration: none;
}
a:visited {
  color: #6c77a3;
}
.btn {
  background-color: #6c77a3;
  border-color: #6c77a3;
}
.btn:hover {
  background-color: #ec6e4c;
  border-color: #ec6e4c;
}
.degrees .active {
  color: black;
  cursor: default;
}
.degrees .active:hover {
  text-decoration: none;
}

.feels-degrees .feels-active {
  color: black;
  cursor: default;
}
.feels-degrees .feels-active:hover {
  text-decoration: none;
}
.weather-forcast {
  position: relative;
  right: 22px;
  font-weight: 50;
  border-style: dashed;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  margin: 25px;
  border-color: #6c77a3;
  font-size: 14px;
}
.weather-forcast-date {
  opacity: 0.8;
}
.weather-forcast-min-temp {
  opacity: 0.6;
}
