body {
  font-family: "Secular One", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.weather-app-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 20px;
  border: #68e1fd;
  background: #aee4f0;
  max-height: 650px;
}
.overview {
  padding-bottom: 20px;
}
.personal-info {
  text-align: center;
  font-size: 12px;
}
.temperature-description {
  padding: 20px;
}
.degrees {
  font-size: 16px;
  position: relative;
  top: -14px;
}
img {
  height: 180px;
  width: 180px;
}
a:link {
  color: #0b5ed7;
  text-decoration: none;
}
a:visited {
  color: #6c77a3;
}
